html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-wrap {
  width: 100% !important;
  background-color: #006241;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px gray;
}

nav {
  width: 70%;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 55px;
}

nav div {
  display: flex;
  column-gap: 10px;
}
button {
  cursor: pointer;
}
.nav-btn-login {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 66px;
  color: #006241;
}

.nav-btn-sign {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 76px;
  color: #006241;
}

.contents-board-wrap {
  padding-top: 90px;
}
.contents-board {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 1165px;
}

.contents-board-center {
  width: 67%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contents-board-right {
  width: 27%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contents-dummy {
  width: 100%;
  border: 1px solid #006241;
  background-color: #fff;
  height: auto;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-detail-list {
  width: 100%;
  border: 1px solid #006241;
  background-color: #fff;
  height: auto;
  min-height: 100px;
}
.board-detail-list h2 {
  margin: 10px 0;
}
.mx-10 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mx-10 {
  margin: 10px;
  display: flex;
  flex-direction: column !important;
}
.mx-10 h2 {
  font-size: 14px;
}
.mx-10 time {
  font-size: 11px;
  color: #a6a6a6;
}
.mx-10 span {
  font-size: 11px;
  margin-left: 5px;
}
.mx-10 p {
  margin: 5px 0 !important;
  font-size: 12px;
  color: #a6a6a6;
}
.main-banner-wrap {
  width: 100%;
  height: 120px;
  background: url(./img/main-banner.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.board-name {
  color: #006241;
  padding-left: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
.contents-board-right-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  height: 50px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contents-board-right-search input {
  border: none;
  height: 40px;
  outline: none;
  margin: 0 5px 0 10px;
  width: 75%;
}
.right-serach-btn {
  width: 20%;
  height: 100%;
  border: none;
}
